<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>

<h1>Library Manager</h1>

<form method="post">
    <label>Course: </label><input type="text" name="course_name" placeholder="Enter course name"><br/>
    <label>Book： </label><input type="text" name="book_name" placeholder="Enter book name"><br/>
    <input type="submit" value="Save">

</form>

<hr>

<ul>
    {% for course in courses %}
        <li>{{ course.name }}<a href="/deleteCourse/{{ course.id }}"> Delete</a></li>
        <ul>
            {% for book in course.books %}
                <li>{{ book.name }} <a href="/deleteBook/{{ book.id }}"> Delete</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>

</body>
</html>
